<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css"  media="all">
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        img{
            cursor: pointer;
            width: 100%;
        }
        a{
            cursor: pointer;
        }
        #allDiv{
            width: 90%;
            margin: 0 auto;
        }
        .layui-col-xs12{
            margin-top: 30px;
        }
        p{
            margin-top: 10px;
        }
    </style>
    <script>
        function openUrl(url) {
            var key1="https://cdn.yangju.vip/k/?url=";
            var key2="http://api.yueliangjx.com/?url=";
            var key3="https://jx.km58.top/jx/?url=";
            var key4="https://api.smq1.com/?url=";
            window.open(key2+url);
        }
    </script>
</head>
<body>
<div id="allDiv">


    <div class="layui-row" style="margin-bottom: 50px">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="img">
                    <img src="https://4img.hitv.com/preview/cms_icon/2020/7/17/07/20200717110301561.jpg"
                         onclick="openUrl('https://www.mgtv.com/b/338497/9376993.html?fpa=15801&fpos=1&lastp=ch_home')"
                    >
                </div>
                <p>乘风破浪的姐姐第6期</p>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="img">
                    <img src="https://0img.hitv.com/preview/cms_icon/2020/7/10/07/20200710095544561.jpg"
                         onclick="openUrl('https://www.mgtv.com/b/338497/9270174.html?fpa=1413&fpos=1&lastp=ch_home')"
                    >
                </div>
                <p>乘风破浪的姐姐第5期</p>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="img">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594546742906&di=1db56259d582e2579696eb71d2865424&imgtype=0&src=http%3A%2F%2Fimg4.imgtn.bdimg.com%2Fit%2Fu%3D2994184309%2C3425736000%26fm%3D214%26gp%3D0.jpg"
                         onclick="openUrl('https://www.iqiyi.com/v_19rzk5uc08.html?vfrm=pcw_home&vfrmblk=B&vfrmrst=fcs_0_t15')"
                    >
                </div>
                <p>奔跑吧2020-07-11期</p>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="img">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594535936546&di=702281e967387b66b9c0326160f40eac&imgtype=0&src=http%3A%2F%2Fimg1.doubanio.com%2Fview%2Fphoto%2Fl%2Fpublic%2Fp2461989218.jpg"
                    >
                </div>
                <p>爱我就别想太多</p>

                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_29')">29集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_30')">30集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_31')">31集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_32')">32集</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="img">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594543096740&di=30b01272b4a50a39892f1a240ca8a95c&imgtype=0&src=http%3A%2F%2Fimg2015.zdface.com%2F20200621%2Fe7adce3c70944fc49918b00ad8a3e210.jpg"
                    >
                </div>
                <p>痕迹</p>


                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_29')">29集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_30')">29集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_31')">31集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.youku.com/v_show/id_XNDcyMjg2OTkwNA==.html?spm=a2h0c.8166622.PhoneSokuProgram_1.dselectbutton_32')">32集</a>
                        </div>
                    </div>



                    <table class="layui-table" lay-size="lg">

                        <tbody>
                        <tr>
                            <td><a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/i003419h25e.html')">31集</a></td>
                            <td><a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/k00348knowz.html')">32集</a></td>
                            <td><a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/f00346q0vrk.html')">33集</a></td>
                        </tr>
                        <tr>
                            <td><a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/x00346mk8uu.html')">34集</a></td>
                            <td><a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/x0034l8w0bh.html')">35集</a></td>
                            <td><a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/d0034ftrjal.html')">36集</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="img">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594535936546&di=702281e967387b66b9c0326160f40eac&imgtype=0&src=http%3A%2F%2Fimg1.doubanio.com%2Fview%2Fphoto%2Fl%2Fpublic%2Fp2461989218.jpg"
                    >
                </div>
                <p>痕迹</p>

                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/i003419h25e.html')">31集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/k00348knowz.html')">32集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/f00346q0vrk.html')">33集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/x00346mk8uu.html')">34集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/x0034l8w0bh.html')">35集</a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md2">
                        <div class="grid-demo ">
                            <a onclick="openUrl('https://v.qq.com/x/cover/mzc002009vrbkl4/d0034ftrjal.html')">36集</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>